.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem; /* Adjust the gap between boxes as needed */
    justify-content: center;
  }
  
/* style for tile (e.g. project tile displays) */
.tile {
  width: 400px;
  height: 200px;
}